<h1><%= @the_user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @the_user.private? %>

  <dt>Followers</dt>
  <dd><%= @the_user.username %>

    <h4>Pending follow requests</h4>
    <% @pending_follow_requests.each do |a_request| %>
    <ul>
      <li>
        <%= User.where({ :id => a_request.sender_id }).at(0).username %>
        <form action="/modify_follow_request/<%= a_request.id %>" method="post">
        <input name="query_status" value="accepted" type="hidden">
        <button>Accept</button>
        </form>
        <form action="/modify_follow_request/<%= a_request.id %>" method="post">
        <input name="query_status" value="rejected" type="hidden">
        <button>Reject</button>
        </form>
      </li>
    </ul>
    <% end %>
