<div>
  <div>
    <h1>
      Photo Details
    </h1>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_photo.image.url %>">
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <% the_id = @the_photo.owner_id %>
        <% matching_user = User.where({ :id => the_id }) %>
        <%= matching_user.at(0).username %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>
      
      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>
      
      <dt>
        Comments count
      </dt>
      <dd>
        <%= @comments_count %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
        <% names = @list_of_fan_names.map(&:username) %>
        
        <% if names.empty? %>
          No fans yet.
        <% elsif names.length == 1 %>
          <%= names.at(0) %>
        <% elsif names.length == 2 %>
          <%= names.join(" and ") %>
        <% else %>
          <% all_but_last = names[0..-2].join(", ") %>
          <% last_name    = names.last %>
          <%= "#{all_but_last}, and #{last_name}" %>
        <% end %>
      </dd>

      <dt>
        Add a fan
      </dt>
      <dd>
        <% if @the_like %>
        <a href="/delete_like/<%= @the_like.id %>">
          Unlike
        </a>
        <% else %>
          <form action="/insert_like" method="post">
            <input type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">
            <input type="hidden" value="<%= current_user.id %>" name="query_fan_id">
            <button>Like</button>
        </form>
        <% end %>
      </dd>
      <% if current_user.id == @the_photo.owner_id %>
        <dt>
          Edit photo
        </dt>
        <dd>
          <form action="/modify_photo/<%= @the_photo.id %>" method="post">
            <label for="browser_image">Image URL</label>
            <input id="browser_image" type="text" name="query_image" placeholder="Enter a URL for the image..." value="<%= @the_photo.image.url %>">
            <label for="browser_caption">Caption</label>
            <textarea id="browser_caption" name="query_caption" placeholder="Enter a caption for the photo..."><%= @the_photo.caption %></textarea>
            <button>Update photo</button>
          </form>
        </dd>
        <dt>
          Delete photo
        </dt>
        <dd>
          <a href="/delete_photo/<%= @the_photo.id %>">Delete this photo</a>
        </dd>
      <% end %>
    </dl>

<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  
  <% @comments.each do |a_comment| %>
  <tr>
    <td>
      <% the_user = User.where({ :id => a_comment.author_id }).at(0) %>
      <%= the_user.username %>
    </td>
    <td>
      <%= a_comment.body %>
    </td>
    <td>
      <%= time_ago_in_words(a_comment.created_at) %> ago
    </td>
  </tr>
  <% end %>
</table>

<h3>Add a new comment</h3>
<form action="/insert_comment" method="post">
  <input type="hidden" value="<%= current_user.id %>" name="query_author_id" >
  <input type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">
  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>
  <button>Add comment</button>
</form>
